<p id="notice"><%= notice %></p>
<div class="container">
  <div class="jumbotron">
    <div class="panel panel-default">
      <div class="panel-heading"  style="background:linear-gradient(to bottom, rgba(48,147,253,1) 0%, rgb(70, 164, 255) 19%, rgba(48,147,253,1) 100%)">
        <h3 class="panel-title">Formato de Solicitud</h3>
      </div>
      <div id="bodyFormNewSolicitudes" class="panel-body">
        <br>
        <%= form_for @solicitud, {url: solicituds_guardarSolicitud_path} do |f| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <div class="field col-md-12">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <%= label_tag(:dor, "Direccion Origen :") %>
          </div>
          <div class="col-md-6">
            <%= @solicitud.direccion_origen %>
          </div>
        </div>

        <div class="field col-md-12">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <%= label_tag(:foil, "Folio :") %>
          </div>
          <div class="col-md-6">
            <%= @solicitud.folio%>
          </div>
        </div>

        <div class="field col-md-12">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <%= label_tag(:ddes, "Direccion Destino :") %>
          </div>
          <div class="col-md-6">
            <%= @solicitud.direccion_destino%>
          </div>
        </div>

        <div class="field col-md-12">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <%= label_tag(:fini, "Fecha y Hora Cita Mudanza :") %>
          </div>
          <div class="col-md-6">
            <%= @solicitud.fech_inicio%>
          </div>
        </div>

        <div class="field col-md-12">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <%= label_tag(:emp, "Empresa :") %>
          </div>
          <div class="col-md-6">
            <%= @itemEmpresa.nombre %>
          </div>
        </div>

        <div class="field col-md-12">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <%= label_tag(:servi, "Servicios :") %>
          </div>
          <div class="col-md-6">
            <span id:"idServSel"><%= @itemServicio.desc_servicio%></span>
          </div>
        </div>
        <script>
            $( document ).ready(function() {
              if($('#idServSel').val() == 3){
                $("#divCajas").show();
              } else {
                $("#divCajas").hide();
              }
            });
        </script>
        <div class="field col-md-12" id="divCajas">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <%= label_tag(:fcaja, "Fecha y Hora Entrega Cajas :") %>
          </div>
          <div class="col-md-6">
            <%= text_field_tag :fcaja, "", {class:"form-control", placeholder:"Fecha y Hora entrega Cajas"}%>
          </div>
        </div>

        <div class="field col-md-12" id="divCajas">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <%= label_tag(:fcaja, "Fecha y Hora Entrega Cajas :") %>
          </div>
          <div class="col-md-6">
            <%= text_field_tag :fcaja, "", {class:"form-control", placeholder:"Fecha y Hora entrega Cajas"}%>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <br>
            <div class="panel panel-primary">

              <div class="panel-heading">
                <h3 class="panel-title">Caracteristicas</h3>
              </div>
              <div class="panel-body">
                <table class="table table-hover">
                <% @listCaracteristicas.each do |caracteristica| %>
                  <tr>
                    <td><%= caracteristica.descripcion %></td>
                  </tr>
                <% end %>
                </table>
              </div>

            </div>
          </div>

          <div class="col-md-5">
            <br><br><br>
            <% if @itemService == "1" %>
              <%= image_tag "mudanzaBasica.png", :alt => "Mundanza", class:"img-responsive"%>
            <%elsif @itemService == "2" %>
              <%= image_tag "mudanzaTotal.png", :alt => "Mundanza", class:"img-responsive"%>
            <%elsif @itemService == "3" %>
              <%= image_tag "cajas-para-mudanza.png", :alt => "Mundanza", class:"img-responsive"%>
            <%elsif @itemService == "" %>
              <%= image_tag "mudanzas-basica.png", :alt => "Mundanza", class:"img-responsive"%>
            <% end %>
          </div>

        </div>

        <div cclass="field col-md-12" style="text-align:center">
          <br>
          <%= submit_tag "Realizar Pago", disable_with: 'Procesando...' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
