<p id="notice"><%= notice %></p>

<div class="container">
  <div class="jumbotron">
    <div class="panel panel-default">
      <div class="panel-heading"  style="background:linear-gradient(to bottom, rgba(48,147,253,1) 0%, rgb(70, 164, 255) 19%, rgba(48,147,253,1) 100%)">
        <h3 class="panel-title">Formato de Solicitud</h3>
      </div>
      <div id="bodyFormNewSolicitudes" class="panel-body">
        <div style="text-align: end !important;">
          <span style="font-size:1.2em;color:red">Folio : </span><span class="label label-primary" name="folioId"><%=@folioActual%></span>
        </div>
        <br>
        <%= form_for @solicitud, {url: solicituds_guardarSolicitud_path} do |f| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :folio, @folioActual %>
        <div class="field col-md-12">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <%= label_tag(:dor, "Direccion Origen :") %>
          </div>
          <div class="col-md-6">
            <%= text_field_tag :dor, "", {class:"form-control", placeholder:"Direccion Origen"}%>
          </div>
        </div>

        <div class="field col-md-12">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <%= label_tag(:ddes, "Direccion Destino :") %>
          </div>
          <div class="col-md-6">
            <%= text_field_tag :ddes, "", {class:"form-control", placeholder:"Direccion Destino"}%>
          </div>
        </div>

        <div class="field col-md-12">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <%= label_tag(:fini, "Fecha y Hora Cita Mudanza :") %>
          </div>
          <div class="col-md-6">
            <%= text_field_tag :fini, "", {class:"form-control", placeholder:"Fecha y Hora Cita Mudanza"}%>
          </div>
        </div>

        <div class="field col-md-12">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <%= label_tag(:emp, "Empresa :") %>
          </div>
          <div class="col-md-6">
            <%= select_tag(:emp, options_from_collection_for_select(@lstEmpresas, "id", "nombre"),
               prompt: "Selecciona Opción") %>
          </div>
        </div>

        <div class="field col-md-12">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <%= label_tag(:servi, "Servicios :") %>
          </div>
          <div class="col-md-6">
            <%= select_tag(:servi, options_from_collection_for_select(@lstServicios, "id", "desc_servicio", @paramSelServicio),
               {prompt: "Selecciona Opción", onchange: "ocultaCajas()" }) %>
          </div>
        </div>
        <script>
          function ocultaCajas() {
              if($('select[name=servi]').val() == 3){
                $("#divCajas").show();
              } else {
                $("#divCajas").hide();
              }
          }
          $( document ).ready(function() {
            if($('select[name=servi]').val() == 3){
              $("#divCajas").show();
            } else {
              $("#divCajas").hide();
            }
          });
        </script>
        <div class="field col-md-12" id="divCajas">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <%= label_tag(:fcaja, "Fecha y Hora Entrega Cajas :") %>
          </div>
          <div class="col-md-6">
            <%= text_field_tag :fcaja, "", {class:"form-control", placeholder:"Fecha y Hora entrega Cajas"}%>
          </div>
        </div>

        <div cclass="field col-md-12" style="text-align:center">
          <br>
          <%= submit_tag "Solicitar Servicio", data: { confirm: "Esta seguro de continuar?", disable_with: 'Procesando...' } %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
