<p id="notice"><%= notice %></p>

<p>
  <strong>Folio:</strong>
  <%= @solicitud.folio %>
</p>

<p>
  <strong>Fecha cita:</strong>
  <%= @solicitud.fecha_cita %>
</p>

<p>
  <strong>Fech inicio:</strong>
  <%= @solicitud.fech_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @solicitud.fecha_fin %>
</p>

<p>
  <strong>Fecha entrega caja:</strong>
  <%= @solicitud.fecha_entrega_caja %>
</p>

<p>
  <strong>Empresa servicio:</strong>
  <%= @solicitud.empresa_servicio %>
</p>

<%= link_to 'Edit', edit_solicitud_path(@solicitud) %> |
<%= link_to 'Back', solicituds_path %>
